{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kontakt - Ivas Group</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Get in touch with Ivas Group for your event technology needs. Request a quote or consultation.">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="{% static 'js/script.js' %}"></script>

    <link rel="icon" type="image/png" href="{% static 'images/index/logo/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'images/index/logo/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'images/index/logo/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/index/logo/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'images/index/logo/site.webmanifest'%}" />

  </head>
  <body>
    <div class="spotlight-container">
      <div class="spotlight spotlight-1"></div>
      <div class="spotlight spotlight-2"></div>
      <div class="spotlight spotlight-3"></div>
    </div>

    <header>
      <div class="logo">
        <a href="{% url 'home' %}">
            <img style="height: 110px; width: auto" src="{% static 'images/index/logo_color.png' %}" alt="logo">
        </a>
      </div>

      <nav>
        <a href="{% url 'home' %}" data-en="Home" data-hr="Početna">Home</a>
        <a href="{% url 'galerija' %}" data-en="Gallery" data-hr="Galerija">Gallery</a>
        <a href="{% url 'about_us' %}" data-en="About Us" data-hr="O Nama">About Us</a>
        <a href="{% url 'contact' %}" class="active" data-en="Contact" data-hr="Kontakt">Contact</a>
        <div class="language-switcher">
          <button class="language-btn active" data-lang="en">EN</button>
          <button class="language-btn" data-lang="hr">HR</button>
        </div>
      </nav>

      <div class="mobile-menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <section class="page-header">
        <div class="page-header-content">
          <h1 data-en="Contact Us" data-hr="Kontaktirajte Nas">Contact Us</h1>
          <p data-en="Ready to bring your event vision to life? Contact us today." data-hr="Spremni ste oživjeti svoju viziju događaja? Kontaktirajte nas danas.">Ready to bring your event vision to life? Contact us today.</p>
        </div>
      </section>

      <section class="contact-page">
        <div class="container">
          <div class="contact-grid">
            <div class="contact-form-container">
              <h2 data-en="Send Us a Message" data-hr="Pošaljite Nam Poruku" >Send Us a Message</h2>
              <form  action="{% url 'send_email' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="name" data-en="Name" data-hr="Ime" >Name</label>
                  <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                  <label for="email" data-en="Email" data-hr="Email" >Email</label>
                  <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                  <label for="phone" data-en="Phone Number" data-hr="Broj Telefona" >Phone Number</label>
                  <input type="tel" id="phone" name="phone">
                </div>
                <div class="form-group">
                  <label for="eventType" data-en="Event Type" data-hr="Vrsta Događaja" >Event Type</label>
                  <select id="eventType" name="eventType">
                    <option value="" data-en="Select the Event Type" data-hr="Odaberite vrstu događaja" >Select the Event Type</option>
                    <option value="concert" data-en="Concert/Performance" data-hr="Koncert/Nastup" >Concert/Performance</option>
                    <option value="corporate" data-en="Business Event" data-hr="Poslovni Događaj" >Business Event</option>
                    <option value="wedding" data-en="Wedding" data-hr="Vjenčanje">Wedding</option>
                    <option value="festival" data-en="Festival" data-hr="Festival">Festival</option>
                    <option value="other" data-en="Other" data-hr="Drugo">Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="message" data-en="Message" data-hr="Poruka" >Message</label>
                  <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary" data-en="Send Message" data-hr="Pošalji Poruku">Send Message</button>
              </form>
            </div>

            <!-- Modal -->
            <div id="emailModal1" class="modal1" style="z-index: 1000">
              <div class="modal-content1">
                <span class="close-btn1">&times;</span>
                <h2 style="margin-bottom: 20px" data-en="Your message has been successfully send." data-hr="Vaša poruka je uspješno poslana" >Your message has been successfully send.</h2>
                <p data-en="We will contact you soon." data-hr="Kontaktirat ćemo Vas uskoro" >We will contact you soon.</p>
              </div>
            </div>
            {% if email_sent %}
              <script>
                window.onload = function() {
                  var modal = document.getElementById("emailModal1");
                  var closeBtn = document.getElementsByClassName("close-btn1")[0];

                  // Show the modal
                  modal.style.display = "block";

                  // Close the modal when the user clicks the close button
                  closeBtn.onclick = function() {
                    modal.style.display = "none";
                  }

                  // Close the modal when the user clicks anywhere outside the modal
                  window.onclick = function(event) {
                    if (event.target === modal) {
                      modal.style.display = "none";
                    }
                  }
                }
              </script>
{% endif %}

            <div class="contact-info-container">
              <h2 data-en="Contact Information" data-hr="Kontakt Informacije" >Contact Information</h2>
              <div class="contact-info">
                <div class="info-item">
                  <i class="fas fa-map-marker-alt"></i>
                  <div>
                    <h3 data-en="Our Location" data-hr="Naša Lokacija" >Our Location</h3>
                    <p>Donje Svetice 40<br>10000 Zagreb</p>
                  </div>
                </div>
                <div class="info-item">
                  <i class="fas fa-phone"></i>
                  <div>
                    <h3 data-en="Phone Number" data-hr="Broj Telefona" >Phone Number</h3>
                    <p>01 4633 353</p>
                  </div>
                </div>
                <div class="info-item">
                  <i class="fas fa-envelope"></i>
                  <div>
                    <h3>Email</h3>
                    <p>info@ivasgroup.com</p>
                  </div>
                </div>
                <div class="info-item">
                  <i class="fas fa-clock"></i>
                  <div>
                    <h3 data-en="Working Hours" data-hr="Radno Vrijeme" >Working Hours</h3>
                    <p data-en="Monday - Friday: 8:00 - 16:00" data-hr="Ponedeljak - Petak: 8:00 - 16:00" >Monday - Friday: 8:00 - 16:00<br data-en="Sunday: Closed" data-hr="Nedelja: Zatvoreno" >Sunday: Closed</p>
                  </div>
                </div>
              </div>

              <div class="social-links-container">
                <h3 data-en="Connect With Us" data-hr="Povežite se s Nama" >Connect With Us</h3>
                <div class="social-links">
                  <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                  <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                  <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="map-container">
            <h2 data-en="Find Us" data-hr="Pronađite Nas">Find Us</h2>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2781.3267909929623!2d16.0143912!3d45.804713299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d63476924ddd%3A0x435dfee3fc201fe!2sIvas%20Grupa%20d.o.o.!5e0!3m2!1shr!2shr!4v1741005096479!5m2!1shr!2shr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </section>
    </main>


       <footer>
      <div class="footer-content">
        <div class="footer-logo">
          <img src="{% static 'images/index/logo_color.png' %}" alt="Ivas Group Logo" class="footer-logo-img">
          <div class="footer-social">
            <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="footer-links">
          <h4 data-en="Quick Links" data-hr="Brzi Linkovi">Quick Links</h4>
          <ul>
            <li><a href="{% url 'home' %}" data-en="Home" data-hr="Početna">Home</a></li>
            <li><a href="{% url 'galerija' %}" data-en="Gallery" data-hr="Galerija">Gallery</a></li>
            <li><a href="{% url 'about_us' %}" data-en="About Us" data-hr="O Nama">About Us</a></li>
            <li><a href="{% url 'contact' %}" data-en="Contact" data-hr="Kontakt">Contact</a></li>
          </ul>
        </div>
        <div class="footer-contact">
          <h4 data-en="Contact Us" data-hr="Kontaktirajte nas">Contact Us</h4>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> Donje Svetice 40, 10000, Zagreb</li>
            <li><i class="fas fa-phone"></i> 01 4633 353</li>
            <li><i class="fas fa-envelope"></i> info@ivasgroup.com</li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p data-en="&copy; 2025 Ivas Group. All rights reserved." data-hr="&copy; 2025 Ivas Grupa. Sva prava zadržana.">&copy; 2025 Ivas Group. All rights reserved.</p>
          <div class="footer-legal">
            <a href="#" >Web by Kukii</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
