{% load static i18n %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gallery - Ivas Group</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="View our portfolio of event technology installations and projects.">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="{% static 'js/script.js' %}"></script>




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.4.3/dist/photoswipe.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module">
      import PhotoSwipeLightbox from 'https://cdn.jsdelivr.net/npm/photoswipe@5.4.3/dist/photoswipe-lightbox.esm.min.js';
      import PhotoSwipe from 'https://cdn.jsdelivr.net/npm/photoswipe@5.4.3/dist/photoswipe.esm.min.js';

      const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        pswpModule: PhotoSwipe,
        showHideAnimationType: 'fade',
        imageClickAction: 'zoom',
        tapAction: 'zoom',
        bgOpacity: 0.9,
      });

      lightbox.init();
    </script>

    <link rel="icon" type="image/png" href="{% static 'images/index/logo/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'images/index/logo/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'images/index/logo/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/index/logo/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'images/index/logo/site.webmanifest'%}" />

  </head>
  <body>


        <header>
      <div class="logo">
        <a href="{% url 'home' %}">
            <img style="height: 110px; width: auto" src="{% static 'images/index/logo_color.png' %}" alt="logo">
        </a>
      </div>
      <nav>
        <a href="{% url 'home' %}"  data-en="Home" data-hr="Početna">Home</a>
        <a href="{% url 'galerija' %}" class="active" data-en="Gallery" data-hr="Galerija">Gallery</a>
        <a href="{% url 'about_us' %}" data-en="About Us" data-hr="O Nama">About Us</a>
        <a href="{% url 'contact' %}" data-en="Contact" data-hr="Kontakt">Contact</a>
        <div class="language-switcher">
          <button class="language-btn active" data-lang="en">EN</button>
          <button class="language-btn" data-lang="hr">HR</button>
        </div>
      </nav>
      <div class="mobile-menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <section class="page-header">
        <div class="page-header-content">
          <h1 data-en="Our Work" data-hr="Naši Radovi" >Our Work</h1>
          <p data-en="A showcase of our recent projects and installations" data-hr="Prikaz naših nedavnih projekata i instalacija" >A showcase of our recent projects and installations</p>
        </div>
      </section>

      <section class="gallery">
        <div class="container">
          <div class="gallery-filters">
            <button class="filter-btn" data-filter="all" data-en="All" data-hr="Sve">All</button>
            <button class="filter-btn" data-filter="corporate" data-en="Corporate Events" data-hr="Korporativni Događaji">Corporate Events</button>
            <button class="filter-btn" data-filter="concert" data-en="Concert and Touring" data-hr="Koncerti i Turneje">Concert and Touring</button>
            <button class="filter-btn" data-filter="sport" data-en="Sporting Events" data-hr="Sportski Događaji">Sporting Events</button>
            <button class="filter-btn" data-filter="fashion" data-en="Fashion Events" data-hr="Modni Događaji">Fashion Events</button>
            <button class="filter-btn" data-filter="ambition" data-en="Exhibitions" data-hr="Izložbe">Exhibitions</button>
            <button class="filter-btn" data-filter="broadcast" data-en="TV Broadcasting" data-hr="TV Emitiranje">TV Broadcasting</button>
          </div>


          <div class="gallery-grid" id="gallery">



            {% for slika in slike %}

            <a href="{{ slika.slika.url }}"
               class="gallery-item"
               data-category="{{slika.kategorija}}"
               data-pswp-width="{{slika.sirina}}"
               data-pswp-height="{{slika.visina}}"
               target="_blank">
              <img src="{{ slika.slika.url }}">
              <div class="gallery-overlay">
                <h3>{{slika.naslov}}</h3>
                <p>{{slika.podnaslov}}</p>
              </div>
            </a>

            {%endfor%}




            <a href="{% static 'images/concert/4.jpg' %}"
               class="gallery-item"
               data-category="concert"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/concert/4.jpg' %}">
              <div class="gallery-overlay">
                <h3>Annual Music Festival</h3>
                <p>Complete stage lighting and sound system for a 3-day outdoor festival</p>
              </div>
            </a>

            <a href="{% static 'images/concert/cetkovic.jpg' %}"
               class="gallery-item"
               data-category="concert"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/concert/cetkovic.jpg' %}">
              <div class="gallery-overlay">
                <h3>Cetkovic</h3>
                <p>Complete stage lighting and sound system for a 3-day outdoor festival</p>
              </div>
            </a>

            <a href="{% static 'images/corporate/DSC00138.jpg' %}"
               class="gallery-item"
               data-category="ambition"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/corporate/DSC00138.jpg' %}">
              <div class="gallery-overlay">
                <h3>Porsche</h3>
                <p>Complete stage lighting and sound system</p>
              </div>
            </a>

            <a href="{% static 'images/concert/europe-gallery-2018-8-1600x1066.jpg' %}"
               class="gallery-item"
               data-category="concert"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/concert/europe-gallery-2018-8-1600x1066.jpg' %}">
              <div class="gallery-overlay">
                <h3>Ultra 2018</h3>
                <p>Complete stage lighting and sound system for a 3-day outdoor festival</p>
              </div>
            </a>

            <a href="{% static 'images/exhibitions/izlozba.jpg' %}"
               class="gallery-item"
               data-category="corporate"
               data-pswp-width="1800"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/exhibitions/izlozba.jpg' %}">
              <div class="gallery-overlay">
                <h3></h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/corporate/citroen.jpg' %}"
               class="gallery-item"
               data-category="ambition"
               data-pswp-width="1780"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/corporate/citroen.jpg' %}">
              <div class="gallery-overlay">
                <h3>Citroen</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/fashion/ivas6.jpg' %}"
               class="gallery-item"
               data-category="fashion"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/fashion/ivas6.jpg' %}">
              <div class="gallery-overlay">
                <h3>Ultra 2018</h3>
                <p>Complete stage lighting and sound system for a 3-day outdoor festival</p>
              </div>
            </a>

            <a href="{% static 'images/sport/ivas3.jpg' %}"
               class="gallery-item"
               data-category="sport"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/sport/ivas3.jpg' %}">
              <div class="gallery-overlay">
                <h3>Ultra 2018</h3>
                <p>Complete stage lighting and sound system for a 3-day outdoor festival</p>
              </div>
            </a>

            <a href="{% static 'images/tv/hipnoza1.jpg' %}"
               class="gallery-item"
               data-category="broadcast"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/tv/hipnoza1.jpg' %}">
              <div class="gallery-overlay">
                <h3>Ultra 2018</h3>
                <p>Complete stage lighting and sound system for a 3-day outdoor festival</p>
              </div>
            </a>

            <a href="{% static 'images/exhibitions/corporate.jpg' %}"
               class="gallery-item"
               data-category="corporate"
               data-pswp-width="2000"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/exhibitions/corporate.jpg' %}">
              <div class="gallery-overlay">
                <h3>Citroen</h3>
                <p></p>
              </div>
            </a>


            <a href="{% static 'images/exhibitions/izlozba2.jpg' %}"
               class="gallery-item"
               data-category="corporate"
               data-pswp-width="1330"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/exhibitions/izlozba2.jpg' %}">
              <div class="gallery-overlay">
                <h3></h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/concert/europe-gallery-2018-10-1600x1066.jpg' %}"
               class="gallery-item"
               data-category="concert"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/concert/europe-gallery-2018-10-1600x1066.jpg' %}">
              <div class="gallery-overlay">
                <h3>Ultra 2018</h3>
                <p>Complete stage lighting and sound system for a 3-day outdoor festival</p>
              </div>
            </a>

            <a href="{% static 'images/sport/fnc_arenazg_2.JPG' %}"
               class="gallery-item"
               data-category="sport"
               data-pswp-width="1800"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/sport/fnc_arenazg_2.JPG' %}">
              <div class="gallery-overlay">
                <h3>FNC Arena Zagreb</h3>
                <p>Intense ring lighting and robust sound systems deliver a thrilling spectator experience at the Zagreb FNC Boxing event.</p>
              </div>
            </a>

            <a href="{% static 'images/corporate/DSC00147.jpg' %}"
               class="gallery-item"
               data-category="ambition"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/corporate/DSC00147.jpg' %}">
              <div class="gallery-overlay">
                <h3>Porsche</h3>
                <p>Complete stage lighting and sound system</p>
              </div>
            </a>

            <a href="{% static 'images/exhibitions/izlozba3.jpg' %}"
               class="gallery-item"
               data-category="corporate"
               data-pswp-width="1770"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/exhibitions/izlozba3.jpg' %}">
              <div class="gallery-overlay">
                <h3></h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/tv/ivas1.jpg' %}"
               class="gallery-item"
               data-category="broadcast"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/tv/ivas1.jpg' %}">
              <div class="gallery-overlay">
                <h3>Porsche</h3>
                <p>Complete stage lighting and sound system</p>
              </div>
            </a>

            <a href="{% static 'images/corporate/IMG_4105.jpg' %}"
               class="gallery-item"
               data-category="ambition"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/corporate/IMG_4105.jpg' %}">
              <div class="gallery-overlay">
                <h3>Porsche</h3>
                <p>Complete stage lighting and sound system</p>
              </div>
            </a>

            <a href="{% static 'images/tv/IMG_0573.jpg' %}"
               class="gallery-item"
               data-category="broadcast"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/tv/IMG_0573.jpg' %}">
              <div class="gallery-overlay">
                <h3>Porsche</h3>
                <p>Complete stage lighting and sound system</p>
              </div>
            </a>

            <a href="{% static 'images/sport/ninja3.jpg' %}"
               class="gallery-item"
               data-category="sport"
               data-pswp-width="1770"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/sport/ninja3.jpg' %}">
              <div class="gallery-overlay">
                <h3>Ninja Warrior</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/fashion/fhr2.jpg' %}"
               class="gallery-item"
               data-category="fashion"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/fashion/fhr2.jpg' %}">
              <div class="gallery-overlay">
                <h3>Fashion HR</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/concert/IMG_20170825_201345.jpg' %}"
               class="gallery-item"
               data-category="concert"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/concert/IMG_20170825_201345.jpg' %}">
              <div class="gallery-overlay">
                <h3>Ožujsko festival</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/concert/papaya.jpg' %}"
               class="gallery-item"
               data-category="concert"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/concert/papaya.jpg' %}">
              <div class="gallery-overlay">
                <h3>Zrće Papaya 2018</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/fashion/fhr.jpg' %}"
               class="gallery-item"
               data-category="fashion"
               data-pswp-width="1330"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/fashion/fhr.jpg' %}">
              <div class="gallery-overlay">
                <h3>Fashion HR</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/tv/masterchef.jpg' %}"
               class="gallery-item"
               data-category="broadcast"
               data-pswp-width="1765"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/tv/masterchef.jpg' %}">
              <div class="gallery-overlay">
                <h3>MasterChef</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/fashion/fashion.jpg' %}"
               class="gallery-item"
               data-category="fashion"
               data-pswp-width="2000"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/fashion/fashion.jpg' %}">
              <div class="gallery-overlay">
                <h3></h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/sport/beactive.jpg' %}"
               class="gallery-item"
               data-category="sport"
               data-pswp-width="1350"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/sport/beactive.jpg' %}">
              <div class="gallery-overlay">
                <h3>Be Active</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/corporate/DSC00162.jpg' %}"
               class="gallery-item"
               data-category="ambition"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/corporate/DSC00162.jpg' %}">
              <div class="gallery-overlay">
                <h3>Porsche</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/sport/bahrain.jpg' %}"
               class="gallery-item"
               data-category="sport"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/sport/bahrain.jpg' %}">
              <div class="gallery-overlay">
                <h3>Bahrain Merida</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/tv/masterchef2.jpg' %}"
               class="gallery-item"
               data-category="broadcast"
               data-pswp-width="1340"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/tv/masterchef2.jpg' %}">
              <div class="gallery-overlay">
                <h3>MasterChef</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/sport/crorace.jpg' %}"
               class="gallery-item"
               data-category="sport"
               data-pswp-width="2000"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/sport/crorace.jpg' %}">
              <div class="gallery-overlay">
                <h3>Tour of Croatia</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/sport/fnc_arenazg_1.JPG' %}"
               class="gallery-item"
               data-category="sport"
               data-pswp-width="1800"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/sport/fnc_arenazg_1.JPG' %}">
              <div class="gallery-overlay">
                <h3>FNC ARENA ZAGREB</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/corporate/a.jpeg' %}"
               class="gallery-item"
               data-category="ambition"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/corporate/a.jpeg' %}">
              <div class="gallery-overlay">
                <h3>Porsche</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/concert/prljavci.jpg' %}"
               class="gallery-item"
               data-category="concert"
               data-pswp-width="1500"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/concert/prljavci.jpg' %}">
              <div class="gallery-overlay">
                <h3>Prljavo Kazalište</h3>
                <p></p>
              </div>
            </a>

            <a href="{% static 'images/sport/snow.jpg' %}"
               class="gallery-item"
               data-category="sport"
               data-pswp-width="1780"
               data-pswp-height="1000"
               target="_blank">
              <img src="{% static 'images/sport/snow.jpg' %}">
              <div class="gallery-overlay">
                <h3>Snow Queen Trophy</h3>
                <p></p>
              </div>
            </a>

          </div>
        </div>
      </section>
    </main>

        <footer>
      <div class="footer-content">
        <div class="footer-logo">
          <img src="{% static 'images/index/logo_color.png' %}" alt="Ivas Group Logo" class="footer-logo-img">
          <div class="footer-social">
            <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="footer-links">
          <h4 data-en="Quick Links" data-hr="Brzi Linkovi">Quick Links</h4>
          <ul>
            <li><a href="{% url 'home' %}" data-en="Home" data-hr="Početna">Home</a></li>
            <li><a href="{% url 'galerija' %}" data-en="Gallery" data-hr="Galerija">Gallery</a></li>
            <li><a href="{% url 'about_us' %}" data-en="About Us" data-hr="O Nama">About Us</a></li>
            <li><a href="{% url 'contact' %}" data-en="Contact" data-hr="Kontakt">Contact</a></li>
          </ul>
        </div>
        <div class="footer-contact">
          <h4 data-en="Contact Us" data-hr="Kontaktirajte nas">Contact Us</h4>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> Donje Svetice 40, 10000, Zagreb</li>
            <li><i class="fas fa-phone"></i> 01 4633 353</li>
            <li><i class="fas fa-envelope"></i> info@ivasgroup.com</li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p data-en="&copy; 2025 Ivas Group. All rights reserved." data-hr="&copy; 2025 Ivas Grupa. Sva prava zadržana.">&copy; 2025 Ivas Group. All rights reserved.</p>
          <div class="footer-legal">
            <a href="#" >Web by Kukii</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- PhotoSwipe template -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
